<link rel="stylesheet" href="/css/user_info.css" />
<script src="/js/userinfo.js"></script>

<main class="profile-container">
  <aside class="sidebar"></aside>

  <section class="profile-form-section">
    <!-- User Information Form -->
    <h1>Edit Profile</h1>
    <form class="profile-form" method="POST" action="/api/user-info/update">
      <h2>User Information</h2>

      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{name}}" required />

      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone" value="{{phone}}" required />

      <label for="gender">Gender</label>
      <select name="gender" id="gender">
        {{#each genders}}
          <option value="{{this}}" {{#if (eq this ../gender)}}selected{{/if}}>{{this}}</option>
        {{/each}}
      </select> 

      <h2>Health Information (Optional)</h2>

      <label for="bmi">BMI</label>
      <input type="number" step="0.1" id="bmi" name="bmi" value="{{bmi}}"/>

      <label for="dietaryPref">Dietary Preference</label>
      <select name="dietaryPref" id="dietaryPref">
        {{#each dietaryPrefs}}
          <option value="{{this}}" {{#if (eq this ../dietaryPref)}}selected{{/if}}>{{this}}</option>
        {{/each}}
      </select>

      <label for="activityLevel">Activity Level</label>
      <select name="activityLevel" id="activityLevel">
        {{#each activityLevels}}
          <option value="{{this}}" {{#if (eq this ../activityLevel)}}selected{{/if}}>{{this}}</option>
        {{/each}}
      </select> 

      <label>Health Conditions</label>
      <input type="text" id="healthConditions" name="healthConditions" placeholder="For example: I have diabetes..." value="{{healthConditions}}"/>
   

      <label for="allergies">Allergies</label>
      <input type="text" id="allergies" name="allergies" placeholder="For example: Peanuts, gluten.." value="{{allergies}}"/>

      <label for="preferredCuisines">Preferred Cuisines</label>
      <input type="text" id="preferredCuisines" name="preferredCuisines" placeholder="I like Italian food..." value="{{preferredCuisines}}"/>

      <label for="avoidedCuisines">Avoided Cuisines</label>
      <input type="text" id="avoidedCuisines" name="avoidedCuisines" placeholder="I don't like Chinese food..." value="{{avoidedCuisines}}"/>

      <label for="medications">Medications</label>
      <input type="text" id="medications" name="medications" placeholder="I take xyz pills and tablets..." value="{{medications}}"/>

      <button type="submit">Save Changes</button>
    </form>

    <!-- Logout Button (at the end) -->
    <form class="profile-form" action="/api/auth/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </section>
</main>
